<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <meta charset ="utf-8">
    <title>Benchmark Calculator</title>
  </head>
  <body>

    <div class="page-container">
      <div class="calculator-body">
      <div class="display"><p class="numbers">0</p></div>
        <div class="calculator-numbers">
          <div class="calclulator-row1">
            <div class="calculator-button">
              <button class="button calculator-ac" >AC</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-positive-negative">+/-</button>
            </div>
            <div class="calculator-button">
              <button class="button percent">%</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-orange-button white-operator divide">÷</button>
            </div>
          </div>

          <div class="calculator-row2">
            <div class="calculator-button">
              <button class="button button7">7</button>
            </div>
            <div class="calculator-button">
              <button class="button button8">8</button>
            </div>
            <div class="calculator-button">
              <button class="button button9">9</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-orange-button white-operator multiply">x</button>
            </div>
          </div>

          <div class="calculator-row3">
            <div class="calculator-button">
              <button class="button button4">4</button>
            </div>
            <div class="calculator-button">
              <button class=" button button5">5</button>
            </div>
            <div class="calculator-button">
              <button class="button button6">6</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-orange-button white-operator subtract">-</button>
            </div>
          </div>

          <div class="calculator-row">
            <div class="calculator-button">
              <button class="button button1">1</button>
            </div>
            <div class="calculator-button">
              <button class="button button2">2</button>
            </div>
            <div class="calculator-button">
              <button class="button button3">3</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-orange-button white-operator plus">+</button>
            </div>
          </div>

          <div class="calculator-row">
            <div class="calculator-button">
              <button class="button large-button zero">0</button>
            </div>
            <div class="calculator-button">
              <button class="button decimal">.</button>
            </div>
            <div class="calculator-button">
              <button class="button calculator-orange-button white-operator equal">=</button>
            </div>
          </div>
        </div> <!--closes calculator-numbers-->
      </div> <!--closes calculator-body-->
    </div> <!--closes aligner-->
    <script src="scripts.js"></script>
  </body>
</html>
